<!DOCTYPE html>
<html lang="en">

<head>

  {% include 'admin/head.html' %}

  <!-- DataTables CSS -->
  <link href="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.css') }}" rel="stylesheet">

  <!-- DataTables Responsive CSS -->
  <link href="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">

</head>

<body>

  <div id="wrapper">

    <!-- NaviFgation -->
    {% include 'admin/navigation.html' %}

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Mata Kuliah</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="modal" data-target="#tambah"><button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></a>
                <h4 class="modal-title custom_align" id="Heading">Data Mata Kuliah</h4>
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                  {% with messages = get_flashed_messages() %}
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-info text-center"><span class="glyphicon glyphicon-info-sign"></span>{{message}}</div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama Makul</th>
                      <th>Prodi</th>
                      <th>SKS</th>
                      <th>Semester</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if makul %}
                    {% for mkl in makul %}
                    <tr class="odd gradeX">
                      <td align="center">{{ loop.index }}</td>
                      <td>{{ mkl[1] }}</td>
                      <td>{{ mkl[5] }}</td>
                      <td align="center">{{ mkl[6] }}</td>
                      <td align="center">{{ mkl[7] }}</td>
                      <td align="center">
                        <a href="#" data-placement="top" data-toggle="tooltip" title="Detail"><button class="btn btn-default btn-xs" data-title="Detail"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                        <button class="btn btn-default btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit{{ mkl[0] }}" title="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-default btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete{{ mkl[0] }}" title="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <td colspan="10" style="text-align: center;">Tidak Ada Data</td>
                    {% endif %}
                  </tbody>

                </table>
                <!-- /.table-responsive -->
              </div>
              <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->

      {% for mkl in makul %}
      <div class="modal fade" id="edit{{ mkl[0] }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align" id="Heading">Edit Data Mata Kuliah</h4>
            </div>
            <form class="form-horizontal" role="form" action="/admin/edit-makul" method="POST">
              <div class="modal-body" style="padding-right: 25px; padding-left: 25px;">
                <fieldset>
                  <div class="form-group">
                    <label class="control-label" for="id">Id</label>
                    <input id="id" name="id_mkl" type="text" placeholder="Id Makul" class="form-control" value="{{mkl[0]}}" readonly>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="nama">Nama Makul</label>
                    <input id="nama" name="nama" type="text" placeholder="Nama" class="form-control" value="{{mkl[1]}}" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="opsi">Fakultas/Prodi</label>
                    <select id="opsi" class="form-control" name="id_prodi" required>
                      {% for data in fklts_prodi %}
                      {% if data[0] == mkl[4] %}
                      <option value="{{data[0]}}" selected>{{data[1]}}/{{data[2]}}</option>
                      {% else %}
                      <option value="{{data[0]}}">{{data[1]}}/{{data[2]}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="sks">SKS</label>
                    <div>
                      <input id="sks" name="sks" type="text" placeholder="SKS" class="form-control" value="{{mkl[6]}}" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="smstr">Semester</label>
                    <div>
                      <input id="smstr" name="smstr" type="text" placeholder="Semester" class="form-control" value="{{mkl[7]}}" required>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer" style="padding-right: 25px; padding-left: 25px;">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!--edit-modal-->

      <div class="modal fade" id="delete{{ mkl[0] }}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align" id="Heading">Delete</h4>
            </div>
            <div class="modal-body">

              <div class="alert alert-danger text-center"><span class="glyphicon glyphicon-warning-sign"></span>  Apakah Anda Yakin Akan Menghapus Data {{mkl[0]}}?</div>

            </div>
            <form action="/admin/delete-makul" method="POST">
              <div class="modal-footer ">
                <input type="hidden" value="{{ mkl[0] }}" name="id_mkl">
                <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!--delete modal-->
      {% endfor %}

      <div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align" id="Heading">Tambah Mahasiswa</h4>
            </div>
            <form class="form-horizontal" role="form" action="/admin/makul" method="POST">
              <div class="modal-body" style="padding-right: 25px; padding-left: 25px;">
                <fieldset>
                  <div class="form-group">
                    <label class="control-label" for="nama">Nama Makul</label>
                    <input id="nama" name="nama" type="text" placeholder="Nama" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="opsi">Fakultas/Prodi*</label>
                    <select id="opsi" class="form-control" name="id_prodi" required>
                      {% for data in fklts_prodi %}
                      <option value="{{data[0]}}">{{data[1]}}/{{data[2]}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="sks">SKS</label>
                    <div>
                      <input id="sks" name="sks" type="text" placeholder="SKS" class="form-control" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="smstr">Semester</label>
                    <div>
                      <select id="smstr" class="form-control" name="smstr" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                      </select>
                      <input id="smstr" name="smstr" type="text" placeholder="Semester" class="form-control" required>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer" style="padding-right: 25px; padding-left: 25px;">
                <div class="form-group">
                  <button type="submit" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!--tambah-modal-->

    </div>
    <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!--javascript-->
  {% include 'admin/js.html' %}

  <!-- DataTables JavaScript -->
  <script src="{{ url_for('static', filename='vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables-responsive/dataTables.responsive.js') }}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

  <!-- Page-Level Demo Scripts - Tables - Use for reference -->
  <script>
  $(document).ready(function() {
    $('#dataTables-example').DataTable({
      responsive: true
    });
  });
  </script>
  </body>
  </html>
