<nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color: #d4d4d4; border-color: #d4d4d4;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin" style="color: #3c3c3c;">Admin SIA</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Notofication
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation" style="background-color: #d4d4d4; border-color: #d4d4d4;">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search" style="border-color: #d4d4d4;">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/fakultas"><i class="fa fa-dashboard fa-fw"></i> Fakultas</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/prodi"><i class="fa fa-dashboard fa-fw"></i> Prodi</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/mhs"><i class="fa fa-dashboard fa-fw"></i> Mahasiswa</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/dosen"><i class="fa fa-dashboard fa-fw"></i> Dosen</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/makul"><i class="fa fa-dashboard fa-fw"></i> Makul</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="/admin/kelas"><i class="fa fa-dashboard fa-fw"></i> Kelas</a>
                </li>
                <li style="border-color: #d4d4d4;">
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="flot.html">Flot Charts</a>
                        </li>
                        <li>
                            <a href="morris.html">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
